html,
body,
.map
  min-height: 100%
  min-width: 100%
  overflow: 'auto'

.map
  position: absolute
  top: 0
  left: 0

.slider
  position: fixed
  background: white
  bottom: 25px
  right: 25px
  height: 35px
  z-index: 100

  label,
  input
    line-height: 35px
    display: inline-block
    vertical-align: middle

  input
    width: 100px
